@let chartOptions = chartData$ | async;

<div class="flex items-center">
  <app-currency-switcher class="pointer-events-none"></app-currency-switcher>
  <app-info-icon
    [size]="'medium'"
    [tooltip]="'statistics.monthlyStatistics.conversionTooltip' | translate"
    [tooltipPosition]="'right'"
  ></app-info-icon>
</div>

<div class="w-full flex justify-center items-center overflow-hidden">
  <apx-chart
    class="overflow-x-auto"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [stroke]="chartOptions.stroke"
    [plotOptions]="chartOptions.plotOptions"
    [xaxis]="chartOptions.xaxis"
    [colors]="chartOptions.colors"
    [fill]="chartOptions.fill"
    [legend]="chartOptions.legend"
    [dataLabels]="chartOptions.dataLabels"
    [states]="chartOptions.states"
    [responsive]="[]"
    [grid]="chartOptions.grid"
    [tooltip]="chartOptions.tooltip"
  ></apx-chart>
</div>
