<checkbox
  class="mb-2"
  [id]="checkboxGroup.nameOrTranslationKey"
  [checked]="checkboxGroup.checked"
  [indeterminate]="partiallyComplete"
  (click)="$event.stopPropagation()"
  (change)="update($event)"
>
  {{ checkboxGroup.nameOrTranslationKey | translate }}
</checkbox>

<span>
  <ul class="pl-5 flex flex-col gap-y-2">
    @for (subItem of checkboxGroup.subItems; track i; let i = $index) {
      <li class="flex items-center gap-x-2">
        @if (subItem?.tooltipTranslationKey) {
          <app-info-icon
            [type]="subItem.infoIconType"
            [tooltip]="tooltip"
            [tooltipPosition]="subItem.tooltipPosition"
            [size]="'medium'"
            (click)="$event.stopPropagation()"
          ></app-info-icon>

          <ng-template #tooltip>
            <span
              class="block max-w-50"
              [innerHTML]="subItem.tooltipTranslationKey | translate"
            ></span>
          </ng-template>
        }

        <checkbox
          [id]="subItem.nameOrTranslationKey"
          [checked]="subItem.checked"
          (click)="$event.stopPropagation()"
          (change)="update($event, i)"
        >
          {{ subItem.nameOrTranslationKey | translate }}
        </checkbox>
      </li>
    }
  </ul>
</span>
