<app-base-modal [titleTranslationKey]="title" [footerTemplate]="footer">
  <form class="flex flex-col gap-y-2" [formGroup]="form">
    <custom-input
      [label]="'dashboard.addCategoryModal.categoryNameTitle' | translate"
      [formControlName]="formFields.CategoryName"
      [required]="true"
      [maxLength]="25"
      [entityExistsValidator]="categoryExistsValidator"
      [displayCharCounter]="true"
    ></custom-input>

    <custom-select
      [label]="'dashboard.addCategoryModal.categoryIconTitle' | translate"
      [formControlName]="formFields.CategoryIcon"
      [required]="true"
      [iconPickerMode]="true"
    ></custom-select>

    <color-picker
      [label]="'dashboard.addCategoryModal.categoryColorTitle' | translate"
      [formControlName]="formFields.CategoryColorPicker"
      [required]="true"
    ></color-picker>
  </form>
</app-base-modal>

<ng-template #footer>
  <app-button
    [colorScheme]="'charcoal'"
    [text]="'dashboard.addCategoryModal.addCategory' | translate"
    [buttonSizeX]="'big'"
    [disabled]="!isFormValid"
    [loading]="loading$ | async"
    (click)="submitClick()"
  ></app-button>
</ng-template>
