<app-base-modal
  *ngVar="account$ | async as account"
  [titleTranslationKey]="account.name"
  [subtitleTranslationKey]="buildTranslationKey('subtitle')"
  [footerTemplate]="footer"
>
  <form class="flex flex-col" [formGroup]="form">
    <mat-form-field>
      <mat-label>{{ account.name | translate }}</mat-label>
      <input #valueInput matInput [formControlName]="formFields.Value" [type]="'number'" />

      @if (hasRequiredError) {
        <mat-error>{{ 'formErrors.required' | translate }}</mat-error>
      }

      @if (hasMinValueError) {
        <mat-error>{{ 'formErrors.minValue' | translate: { minValue: 1 } }}</mat-error>
      }

      @if (hasEditError) {
        <mat-error>{{ 'formErrors.editError' | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ buildTranslationKey('noteInputTitle') | translate }}</mat-label>
      <textarea matInput rows="3" [formControlName]="formFields.Note"></textarea>

      @if (hasMaxLengthError) {
        <mat-error>{{ 'formErrors.noteTooLong' | translate }}</mat-error>
      }
    </mat-form-field>
  </form>
</app-base-modal>

<ng-template #footer>
  <app-button
    [buttonSizeX]="'big'"
    [colorScheme]="'charcoal'"
    [text]="buildTranslationKey('editButton') | translate"
    [disabled]="!isFormValid"
    [loading]="(loading$ | async) || (success$ | async)"
    (click)="submitAction()"
  ></app-button>
</ng-template>
