<app-info-card
  [iconBGClass]="'bg-light-blue'"
  [iconName]="'equal-sign'"
  [twoLine]="true"
  [primaryText]="currentBalance$ | async | currencySymbol"
  [secondaryText]="buildTranslationKey('currentBalance') | translate"
  [additionalPrimaryText]="fullBalance$ | async | currencySymbol"
  [additionalSecondaryText]="buildTranslationKey('fullBalance') | translate"
  [menuActions]="menuActions"
  [tooltip]="tooltip"
></app-info-card>

<ng-template #tooltip>
  <span [innerHTML]="buildTranslationKey('tooltip') | translate"></span>
</ng-template>
