<control-label
  class="mb-1"
  [for]="'color-picker'"
  [required]="true"
  [label]="label"
  (click)="openPanel()"
></control-label>

<div
  #colorPicker
  ngx-colors-trigger
  class="cursor-pointer border-2 border-solid border-grey rounded-md h-12 group-hover:border-charcoal focus:border-charcoal"
  [ngClass]="{
    'border-red group-hover:border-red rounded-b-none': formControl.invalid && isErrorState()
  }"
  [id]="'color-picker'"
  [style.backgroundColor]="formControl.value || 'white'"
  [hideTextInput]="true"
  [hideColorPicker]="true"
  [colorsAnimation]="isMobile ? null : 'slide-in'"
  [formControl]="formControl"
  (close)="onPanelClose()"
  (ngModelChange)="valueChanged($event)"
></div>

@if (isErrorState()) {
  <div class="flex flex-col gap-y-1 w-full pt-1 px-1.5 pb-1.5 rounded-b-md bg-red">
    @if (formControl.hasError('required')) {
      <control-error> {{ 'formErrors.required' | translate }} </control-error>
    }
  </div>
}
