<app-generic-activity-log-record [icon]="record.icon" [date]="record.date">
  <ng-container [ngSwitch]="record.actionType">
    <ng-container *ngSwitchCase="actionType.Add">
      <span
        *ngVar="
          buildTranslationKey('categoryAdded.budgetType.' + record.budgetType)
            | translate : { categoryName: record.categoryName } as content
        "
        class="block truncate"
        [innerHTML]="content"
        customTooltip
        [contentTemplate]="template"
        [showTooltipOnlyOnOverflow]="true"
      >
        <ng-template #template>
          <span [innerHTML]="content"></span>
        </ng-template>
      </span>
    </ng-container>
    <ng-container *ngSwitchCase="actionType.Remove">
      <span
        [innerHTML]="
          buildTranslationKey('categoryRemoved.budgetType.' + record.budgetType)
            | translate : { categoryName: record.categoryName }
        "
      ></span>
    </ng-container>
  </ng-container>
</app-generic-activity-log-record>

<ng-template #template>
  {{
    buildTranslationKey('categoryAdded.budgetType.' + record.budgetType)
      | translate : { categoryName: record.categoryName }
  }}
</ng-template>
