<app-generic-activity-log-record [icon]="record.icon" [date]="record.date">
  <ng-container [ngSwitch]="record.actionType">
    <ng-container *ngSwitchCase="actionType.Add">
      <span
        [innerHTML]="
          buildTranslationKey('categoryAdded.budgetType.' + record.budgetType)
            | translate : { categoryName: record.categoryName }
        "
      ></span>
    </ng-container>
    <ng-container *ngSwitchCase="actionType.Remove">
      <span
        [innerHTML]="
          buildTranslationKey('categoryRemoved.budgetType.' + record.budgetType)
            | translate : { categoryName: record.categoryName }
        "
      ></span>
    </ng-container>
  </ng-container>
</app-generic-activity-log-record>
