<app-page-header class="text-xl" [title]="buildTranslationKey('title') | translate"></app-page-header>

<div class="w-full flex justify-center items-center overflow-hidden">
  <canvas baseChart #chart="base-chart" [type]="'bar'" [data]="chartData$ | async" [options]="chartOptions"></canvas>
</div>

<div class="flex justify-center gap-2">
  @for (action of zoomOptions; track action) {
    <app-button
      customTooltip
      [tooltipText]="action.tooltipKey | translate"
      [position]="'top'"
      [dontDisplayOnScreenWidth]="true"
      [colorScheme]="'charcoal'"
      [iconName]="action.icon"
      [buttonSizeY]="'small'"
      (click)="action.handler()"
    ></app-button>
  }
</div>
