<div
  *ngVar="accountsAmount$ | async as accountsAmount"
  class="wrapper relative rounded-lg overflow-hidden"
  [ngClass]="{
    'cursor-pointer': accountsAmount,
    'cursor-default ': !accountsAmount
  }"
>
  <app-info-card
    [iconName]="'creditcard-folder'"
    [iconColorClass]="'text-dark-green'"
    [colorScheme]="'dark-green'"
    [primaryText]="buildTranslationKey(accountsAmount ? 'titleWithAmount' : 'title') | translate: { accountsAmount }"
  >
  </app-info-card>

  @if (accountsAmount) {
    <span
      class="tip absolute left-0 bottom-0 w-full h-7 bg-hover-black flex justify-center items-center font-main text-white"
    >
      {{ buildTranslationKey('hoverTip') | translate }}
    </span>
  }

  <app-button
    class="absolute top-2 right-2"
    [iconName]="'plus'"
    [colorScheme]="'transparent-light'"
    [buttonSizeX]="'small'"
    [buttonSizeY]="'small'"
    (click)="openAddAccountModalService(); $event.stopPropagation()"
  ></app-button>
</div>
