<div mat-dialog-title class="!flex !justify-between !items-center !gap-x-4">
  <div>
    <div class="flex items-center gap-2">
      <h1>{{ titleTranslationKey | translate: titleTranslationParams }}</h1>

      @if (loading) {
        <app-loader [colorMode]="'dark'"></app-loader>
      }
    </div>

    @if (subtitleTranslationKey) {
      <h2 class="text-sm">{{ subtitleTranslationKey | translate }}</h2>
    }
  </div>

  @if (shouldDisplayCloseButton) {
    <app-button [iconName]="'close'" (click)="cancelClick()"></app-button>
  }
</div>

<div mat-dialog-content>
  <ng-content></ng-content>
</div>

<div mat-dialog-actions>
  <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
</div>
