<div mat-dialog-title class="!flex !justify-between !items-center !gap-x-4">
  <div>
    <h1>{{ titleTranslationKey | translate: titleTranslationParams }}</h1>

    @if (subtitleTranslationKey) {
      <h2 class="text-sm">{{ subtitleTranslationKey | translate }}</h2>
    }
  </div>

  @if (shouldDisplayCloseButton) {
    <app-button [iconName]="'close'" (click)="cancelClick()"></app-button>
  }
</div>

<div cdkScrollable mat-dialog-content>
  <ng-content></ng-content>
</div>

<div mat-dialog-actions>
  <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
</div>
