<app-base-modal [titleTranslationKey]="'dashboard.addAccountModal.title'" [footerTemplate]="footer">
  <form class="flex flex-col gap-y-2 h-full" [formGroup]="form">
    <div class="sticky top-0 pb-4 bg-white -mx-6 px-6 z-10">
      <app-info-card
        [primaryText]="
          (form.controls[formFields.AccountValue].value || 0) + ' ' + selectedCurrencySymbol
        "
        [secondaryText]="form.controls[formFields.AccountName].value"
        [iconName]="form.controls[formFields.AccountIcon].value"
        [bgColor]="form.controls[formFields.AccountBgColor].value || '#F0F2F2'"
        [textColor]="form.controls[formFields.AccountTextColor].value || '#2C4251'"
      ></app-info-card>
    </div>

    <custom-input
      [label]="'dashboard.addAccountModal.accountNameTitle' | translate"
      [id]="formFields.AccountName"
      [formControlName]="formFields.AccountName"
      [isRequired]="true"
      [maxLength]="20"
      [displayCharCounter]="true"
      [entityExistsValidator]="accountExistsValidator"
    ></custom-input>

    <custom-input
      [id]="formFields.AccountValue"
      [formControlName]="formFields.AccountValue"
      [label]="'dashboard.addAccountModal.accountValueTitle' | translate"
      [isRequired]="true"
      [minValue]="0"
      [type]="'number'"
    ></custom-input>

    <custom-select
      [id]="formFields.AccountCurrency"
      [label]="'dashboard.addAccountModal.accountCurrencyTitle' | translate"
      [formControlName]="formFields.AccountCurrency"
      [options]="options"
      [idSelector]="currencyIdSelector"
      [displayValueSelector]="currencyDisplayValueSelector"
      [iconSelector]="currencyIconSelector"
      [isRequired]="true"
    ></custom-select>

    <custom-select
      [id]="formFields.AccountIcon"
      [label]="'dashboard.addAccountModal.accountIconTitle' | translate"
      [formControlName]="formFields.AccountIcon"
      [isRequired]="true"
      [iconPickerMode]="true"
    ></custom-select>

    <color-picker
      [id]="formFields.AccountBgColor"
      [label]="'dashboard.addAccountModal.accountBgColorTitle' | translate"
      [formControlName]="formFields.AccountBgColor"
      [isRequired]="true"
    ></color-picker>

    <color-picker
      [id]="formFields.AccountTextColor"
      [label]="'dashboard.addAccountModal.accountTextColorTitle' | translate"
      [formControlName]="formFields.AccountTextColor"
      [isRequired]="true"
    ></color-picker>
  </form>
</app-base-modal>

<ng-template #footer>
  <app-button
    [colorScheme]="'charcoal'"
    [text]="'dashboard.addAccountModal.addAccount' | translate"
    [buttonSizeX]="'big'"
    [disabled]="!isFormValid"
    [loading]="loading$ | async"
    (click)="submitClick()"
  ></app-button>
</ng-template>
