@let accounts = accounts$ | async;
@let category = category$ | async;
@let maxValue = maxValue$ | async;

<app-base-modal
  [titleTranslationKey]="category?.name"
  [subtitleTranslationKey]="'category.categoryValueModal.subtitle'"
>
  <ng-template #contentTemplate>
    <form class="flex flex-col gap-y-2" [formGroup]="form">
      <custom-select
        [id]="formFieldsEnum.ACCOUNT_TO_USE"
        [label]="'category.categoryValueModal.accountsTitle' | translate"
        [formControlName]="formFieldsEnum.ACCOUNT_TO_USE"
        [options]="accounts"
        [idSelector]="idSelector"
        [displayValueSelector]="displayValueSelector"
        [iconSelector]="iconSelector"
        [isRequired]="true"
      >
        <ng-template #emptyStateTemplate>
          <app-button
            [buttonSizeX]="'auto'"
            [buttonSizeY]="'px36'"
            [type]="'primary'"
            [text]="'category.categoryValueModal.addAccount' | translate"
            (click)="openAddAccountModal()"
          ></app-button>
        </ng-template>
      </custom-select>

      <custom-input
        [id]="formFieldsEnum.VALUE_TO_ADD"
        [label]="'category.categoryValueModal.valueToAddTitle' | translate"
        [isRequired]="true"
        [minValue]="1"
        [maxValue]="maxValue"
        [type]="'number'"
        [formControlName]="formFieldsEnum.VALUE_TO_ADD"
        [isDisabled]="!accoundChoosed"
        [prefix]="currencySymbolForValueField"
      ></custom-input>

      <custom-input
        [class.hidden]="!doesChoosedAccountHaveForeignCurrency"
        [id]="formFieldsEnum.CONVERTED_VALUE_TO_ADD"
        [label]="'category.categoryValueModal.convertedValueToAddTitle' | translate"
        [isRequired]="true"
        [minValue]="1"
        [type]="'number'"
        [formControlName]="formFieldsEnum.CONVERTED_VALUE_TO_ADD"
        [prefix]="currencySymbolForConvertedValueField"
      ></custom-input>

      <custom-textarea
        [id]="formFieldsEnum.NOTE"
        [label]="'category.categoryValueModal.noteTitle' | translate"
        [formControlName]="formFieldsEnum.NOTE"
        [maxLength]="100"
        [displayCharCounter]="true"
      ></custom-textarea>
    </form>
  </ng-template>

  <ng-template #footerTemplate>
    <app-button
      [buttonSizeX]="'px100'"
      [type]="'primary'"
      [text]="'category.categoryValueModal.add' | translate"
      [loading]="loading$ | async"
      [disabled]="form?.invalid"
      (click)="submitClick()"
    ></app-button>
  </ng-template>
</app-base-modal>
