<app-base-modal
  *ngVar="accounts$ | async as accounts"
  [titleTranslationKey]="(category$ | async)?.name"
  [subtitleTranslationKey]="'dashboard.categoryValueModal.subtitle'"
  [footerTemplate]="footer"
>
  <form class="flex flex-col gap-y-2" [formGroup]="form">
    <custom-select
      [id]="formFieldsEnum.AccountToUse"
      [label]="'dashboard.categoryValueModal.accountsTitle' | translate"
      [formControlName]="formFieldsEnum.AccountToUse"
      [options]="accounts"
      [idSelector]="idSelector"
      [displayValueSelector]="displayValueSelector"
      [iconSelector]="iconSelector"
      [isRequired]="true"
    ></custom-select>

    <custom-input
      [id]="formFieldsEnum.ValueToAdd"
      [label]="'dashboard.categoryValueModal.valueToAddTitle' | translate"
      [isRequired]="true"
      [minValue]="1"
      [type]="'number'"
      [formControlName]="formFieldsEnum.ValueToAdd"
      [isDisabled]="!accoundChoosed"
      [prefix]="currencySymbolForValueField"
    ></custom-input>

    <custom-input
      [class.hidden]="!displayConvertedValueField"
      [id]="formFieldsEnum.ConvertedValueToAdd"
      [label]="'dashboard.categoryValueModal.convertedValueToAddTitle' | translate"
      [isRequired]="true"
      [minValue]="1"
      [type]="'number'"
      [formControlName]="formFieldsEnum.ConvertedValueToAdd"
      [prefix]="currencySymbolForConvertedValueField"
    ></custom-input>

    <custom-textarea
      [id]="formFieldsEnum.Note"
      [label]="'dashboard.categoryValueModal.noteTitle' | translate"
      [formControlName]="formFieldsEnum.Note"
      [maxLength]="100"
      [displayCharCounter]="true"
    ></custom-textarea>
  </form>
</app-base-modal>

<ng-template #footer>
  <app-button
    [buttonSizeX]="'px100'"
    [colorScheme]="'charcoal'"
    [text]="'dashboard.categoryValueModal.add' | translate"
    [loading]="loading$ | async"
    [disabled]="form?.invalid"
    (click)="submitClick()"
  ></app-button>
</ng-template>
