<app-base-modal
  [titleTranslationKey]="'dashboard.moneyMovementBetweenAccountsModal.title'"
  [footerTemplate]="footer"
>
  <form class="flex flex-col gap-y-2" [formGroup]="form">
    <custom-select
      [id]="formFieldsEnum.FromAccount"
      [label]="'dashboard.moneyMovementBetweenAccountsModal.fromAccountTitle' | translate"
      [formControlName]="formFieldsEnum.FromAccount"
      [options]="accounts$ | async"
      [idSelector]="idSelector"
      [displayValueSelector]="displayValueSelector"
      [iconSelector]="iconSelector"
      [isRequired]="true"
    ></custom-select>

    <custom-select
      [class.hidden]="!form?.controls?.[formFieldsEnum.FromAccount]?.value"
      [id]="formFieldsEnum.ToAccount"
      [label]="'dashboard.moneyMovementBetweenAccountsModal.toAccountTitle' | translate"
      [formControlName]="formFieldsEnum.ToAccount"
      [options]="filteredAccounts$ | async"
      [idSelector]="idSelector"
      [displayValueSelector]="displayValueSelector"
      [iconSelector]="iconSelector"
      [isRequired]="true"
    ></custom-select>

    <custom-input
      [class.hidden]="isAnyAccountFieldEmpty"
      [id]="formFieldsEnum.ValueToMove"
      [label]="'dashboard.moneyMovementBetweenAccountsModal.valueToMoveTitle' | translate"
      [isRequired]="true"
      [minValue]="1"
      [maxValue]="maxValue"
      [type]="'number'"
      [formControlName]="formFieldsEnum.ValueToMove"
      [prefix]="currencySymbolForValueField"
    ></custom-input>

    <custom-input
      [class.hidden]="isAnyAccountFieldEmpty || !accountsHaveDifferentCurrencies"
      [id]="formFieldsEnum.ConvertedValueToMove"
      [label]="'dashboard.moneyMovementBetweenAccountsModal.convertedValueToMoveTitle' | translate"
      [isRequired]="true"
      [minValue]="1"
      [type]="'number'"
      [formControlName]="formFieldsEnum.ConvertedValueToMove"
      [prefix]="currencySymbolForConvertedValueField"
    ></custom-input>
  </form>
</app-base-modal>

<ng-template #footer>
  <app-button
    [colorScheme]="'charcoal'"
    [text]="'dashboard.moneyMovementBetweenAccountsModal.moveButton' | translate"
    [buttonSizeX]="'big'"
    [disabled]="form?.invalid"
    [loading]="loading$ | async"
    (click)="submitAction()"
  ></app-button>
</ng-template>
