:host {
  .cdk-drag-placeholder {
    opacity: 0;
  }

  .container.cdk-drop-list-dragging .container-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

::ng-deep {
  app-account-card.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
