<app-base-modal
  *ngVar="{
    accounts: accounts$ | async,
    changeOrderInProgress: changeOrderInProgress$ | async
  } as data"
  [titleTranslationKey]="'dashboard.accountsListModal.title'"
  [titleTranslationParams]="{ accountsAmount: data.accounts?.length }"
  [footerTemplate]="footer"
  [loading]="data.changeOrderInProgress"
>
  <div
    cdkDropList
    cdkScrollable
    class="container flex flex-col gap-y-4"
    [class.pointer-events-none]="data.changeOrderInProgress"
    [cdkDropListLockAxis]="'y'"
    [cdkDropListAutoScrollDisabled]="false"
    [cdkDropListAutoScrollStep]="10"
    [cdkDropListDisabled]="data.accounts?.length === 1"
    (cdkDropListDropped)="orderChanged($event)"
  >
    @for (account of data.accounts; track account.id) {
      <app-account-card
        cdkDrag
        cdkDragBoundary=".container"
        class="container-item"
        [account]="account"
        [shouldDisableDragButton]="data.accounts?.length === 1"
      ></app-account-card>
    }
  </div>
</app-base-modal>

<ng-template #footer>
  <app-button
    [colorScheme]="'charcoal'"
    [text]="'dashboard.accountsListModal.closeButton' | translate"
    [buttonSizeX]="'px100'"
    (click)="closeModal()"
  >
  </app-button>
</ng-template>
