<app-generic-activity-log-record [icon]="record.icon" [date]="record.date">
  <div class="flex flex-col font-main text-charcoal text-sm overflow-hidden">
    <span
      class="truncate"
      customTooltip
      [tooltipTemplate]="tooltip"
      [showTooltipOnlyOnOverflow]="true"
    >
      {{ record.fromAccount.name }} &rarr; {{ record.toAccount.name }}
    </span>

    <span class="font-bold text-blue">
      {{ record.fromAccountValue }} {{ record.fromAccount.currency.symbol }}
      &rarr;
      {{ record.toAccountValue }} {{ record.toAccount.currency.symbol }}
    </span>
  </div>
</app-generic-activity-log-record>

<ng-template #tooltip>
  <span>{{ record.fromAccount.name }} &rarr; {{ record.toAccount.name }}</span>
</ng-template>
