<div class="flex flex-col items-center w-full">
  <svg-icon class="w-10 h-10 text-white" [iconName]="'small-logo'"></svg-icon>
  <span class="flex gap-x-1 my-4">
    <span class="w-1 h-1 bg-white rounded-full"></span>
    <span class="w-1 h-1 bg-white rounded-full"></span>
    <span class="w-1 h-1 bg-white rounded-full"></span>
  </span>

  <app-navigation-bar-item *ngFor="let item of navigationBarItems$ | async" [item]="item"></app-navigation-bar-item>
</div>

<app-button
  [iconName]="'logout'"
  [colorScheme]="colorScheme.TransparentLight"
  [matTooltip]="buildTranslationKey('itemTooltip.logout') | translate"
  [matTooltipPosition]="'right'"
  (click)="logOut()"
></app-button>
