<div class="nav-container">
  <svg-icon class="logo text-white" [iconName]="'small-logo'" [size]="'big'"></svg-icon>

  <span class="dots flex gap-x-1 my-4">
    <span class="w-1 h-1 bg-white rounded-full"></span>
    <span class="w-1 h-1 bg-white rounded-full"></span>
    <span class="w-1 h-1 bg-white rounded-full"></span>
  </span>

  @for (item of navigationBarItems$ | async; track item) {
    <app-navigation-bar-item [item]="item"></app-navigation-bar-item>
  }
</div>

<app-button
  customTooltip
  [tooltipText]="buildTranslationKey('itemTooltip.logout') | translate"
  [position]="['right']"
  [tooltipBgColor]="'green'"
  [dontDisplayOnScreenWidth]="true"
  [iconName]="'logout'"
  [colorScheme]="'transparent-light'"
  [buttonSizeY]="'small'"
  [buttonSizeX]="'small'"
  (click)="logOut()"
></app-button>
