<div
  *ngVar="accountsAmount$ | async as accountsAmount"
  class="wrapper relative rounded-lg overflow-hidden"
  [ngClass]="{
    'cursor-pointer': accountsAmount,
    'cursor-default ': !accountsAmount
  }"
>
  <app-info-card
    [iconName]="'creditcard-folder'"
    [primaryText]="
      buildTranslationKey(accountsAmount ? 'titleWithAmount' : 'title')
        | translate: { accountsAmount }
    "
    [style.color]="'text-white' | classToHexColor"
    [style.background-color]="'bg-dark-green' | classToHexColor"
  >
  </app-info-card>

  @if (accountsAmount) {
    <span
      class="tip absolute left-0 bottom-0 w-full h-7 bg-hover-black flex justify-center items-center font-main text-white"
    >
      {{ buildTranslationKey('hoverTip') | translate }}
    </span>
  }

  <div class="absolute top-2 right-2 flex gap-x-2">
    <app-button
      [iconName]="'plus'"
      [colorScheme]="'transparent-light'"
      [buttonSizeX]="'small'"
      [buttonSizeY]="'small'"
      (click)="openAddAccountModal(); $event.stopPropagation()"
    ></app-button>

    @if (accountsAmount >= 2) {
      <app-button
        [iconName]="'money-change'"
        [colorScheme]="'transparent-light'"
        [buttonSizeX]="'small'"
        [buttonSizeY]="'small'"
        (click)="openMoneyMovementModal(); $event.stopPropagation()"
      ></app-button>
    }
  </div>
</div>
