:host {
  @media (width > 480px) {
    .wrapper {
      .tip {
        transform: translateY(100%);
        transition: transform ease-in-out 0.15s;
      }

      &:hover {
        .tip {
          transform: translateY(0);
        }
      }
    }
  }

  .tip {
    transform: translateY(0);
  }
}
