$hover-map:
// class value
  'hover' hover,
  'active' none;

@mixin use-current-color() {
  &.use-current-color {
    $disabled-color: color-mix(in srgb, currentcolor 50%, transparent);

    color: currentcolor;

    svg-icon {
      color: currentcolor;
    }

    &.disabled {
      color: $disabled-color;

      svg-icon {
        color: $disabled-color;
      }
    }

    @each $class, $value in $hover-map {
      @media (hover: #{$value}) {
        &:#{$class} {
          background-color: color-mix(in srgb, currentcolor 15%, transparent);
        }
      }
    }
  }
}
