:host {
  // STATES
  &.loading,
  &.disabled,
  &.active {
    @apply cursor-default pointer-events-none;
  }

  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;

  // SIZES X
  &.small-x {
    @apply w-8;
  }

  &.medium-x {
    @apply w-24;
  }

  &.big-x {
    @apply w-40;
  }

  &.large-x {
    @apply w-60;
  }

  &.full-x {
    @apply w-full;
  }

  &.auto-x {
    @apply w-auto;
  }

  // SIZES Y
  &.tiny-y {
    @apply h-7;
  }

  &.small-y {
    @apply h-8;
  }

  &.medium-y {
    @apply h-9;
  }

  &.auto-y {
    @apply h-auto;
  }

  // COLORS
  &.charcoal {
    @apply bg-charcoal text-white;

    &.disabled {
      @apply bg-grey;
    }

    svg-icon {
      @apply text-white;
    }

    @media (hover: hover) {
      @apply hover:bg-blue;
    }
  }

  &.green {
    @apply bg-dark-green text-white;

    &.disabled {
      @apply bg-grey;
    }

    svg-icon {
      @apply text-white;
    }

    @media (hover: hover) {
      @apply hover:bg-hover-green;
    }
  }

  &.active-navigation-item {
    @apply bg-transparent text-green;

    svg-icon {
      @apply text-green;
    }

    @media (hover: hover) {
      @apply hover:bg-hover-white;
    }
  }

  &.transparent-light {
    @apply bg-transparent text-white;

    svg-icon {
      @apply text-white;
    }

    @media (hover: hover) {
      @apply hover:bg-hover-white;
    }
  }

  &.transparent-dark {
    @apply bg-transparent  text-charcoal;

    &.disabled {
      @apply text-grey;

      svg-icon {
        @apply text-grey;
      }
    }

    svg-icon {
      @apply text-charcoal;
    }

    @media (hover: hover) {
      @apply hover:bg-hover-black;
    }
  }

  // ACTIVE STATE
  &.active-green {
    @apply bg-dark-green text-white;

    svg-icon {
      @apply text-white;
    }
  }

  &.active-charcoal {
    @apply bg-charcoal text-white;

    svg-icon {
      @apply text-white;
    }
  }
}
