<a
  #routerLinkActive="routerLinkActive"
  class="flex items-center justify-center"
  [routerLink]="item.routerLink"
  [routerLinkActive]="'active'"
  [class.pointer-events-none]="routerLinkActive.isActive"
>
  <app-button
    customTooltip
    [tooltipText]="item.tooltipTranslationKey | translate"
    [position]="['right']"
    [tooltipBgColor]="'green'"
    [dontDisplayOnScreenWidth]="true"
    [iconName]="item.iconName"
    [colorScheme]="routerLinkActive.isActive ? 'active-navigation-item' : 'transparent-light'"
    [buttonSizeY]="'medium'"
    [buttonSizeX]="'medium'"
  ></app-button>
</a>
