<span class="font-main font-bold text-charcoal text-xl">{{ buildTranslationKey('title') | translate }}</span>

<div
  *ngVar="isEmpty$ | async as isEmpty"
  class="flex flex-col gap-y-8 overflow-y-auto h-full"
  [class.justify-center]="isEmpty"
  [class.items-center]="isEmpty"
>
  <span *ngIf="isEmpty" class="font-main font-bold text-charcoal text-lg text-center">
    {{ buildTranslationKey('emptyStateText') | translate }}
  </span>

  <ng-container *ngIf="!isEmpty">
    <div *ngFor="let day of activityLog$ | async" class="flex flex-col gap-6 relative">
      <span [style.top.px]="'-0.1'" class="flex font-main text-grey text-sm sticky bg-white py-0.5 z-10 font-semibold">
        {{ day.date }}
      </span>

      <ng-container *ngFor="let record of day.records">
        <ng-container [ngSwitch]="record.recordType">
          <app-root-value-change-record *ngSwitchCase="recordType.RootValueChange" [record]="record">
          </app-root-value-change-record>

          <app-category-management-record *ngSwitchCase="recordType.CategoryManagement" [record]="record">
          </app-category-management-record>

          <app-category-value-change-record *ngSwitchCase="recordType.CategoryValueChange" [record]="record">
          </app-category-value-change-record>

          <app-categories-reset-record
            *ngSwitchCase="recordType.CategoriesReset"
            [record]="record"
          ></app-categories-reset-record>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>
