<app-page-header class="text-xl bg-transparent" [title]="buildTranslationKey('title') | translate"></app-page-header>

<div
  *ngVar="isEmpty$ | async as isEmpty"
  class="flex flex-col overflow-y-hidden h-full"
  [class.justify-center]="isEmpty"
  [class.items-center]="isEmpty"
>
  <span *ngIf="isEmpty" class="font-main font-bold text-charcoal text-lg text-center">
    {{ buildTranslationKey('emptyStateText') | translate }}
  </span>

  <div *ngIf="!isEmpty" class="w-full h-full flex flex-col gap-y-6 overflow-y-auto">
    <div *ngFor="let day of activityLog$ | async; trackBy: trackByDate" class="flex flex-col gap-y-2 relative">
      <span [style.top.px]="'-0.1'" class="flex font-main text-grey text-sm sticky bg-white py-0.5 z-10 font-bold">
        {{ day.date }}
      </span>

      <ng-container *ngFor="let record of day.records; trackBy: trackByRecordId">
        <ng-container [ngSwitch]="record.recordType">
          <app-root-value-change-record *ngSwitchCase="recordType.RootValueChange" [record]="record">
          </app-root-value-change-record>

          <app-category-management-record *ngSwitchCase="recordType.CategoryManagement" [record]="record">
          </app-category-management-record>

          <app-category-value-change-record *ngSwitchCase="recordType.CategoryValueChange" [record]="record">
          </app-category-value-change-record>

          <app-categories-reset-record
            *ngSwitchCase="recordType.CategoriesReset"
            [record]="record"
          ></app-categories-reset-record>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
