@let isEmpty = isEmpty$ | async;
@let currentTab = currentTab$ | async;
@let areAllCategoriesReset = areAllCategoriesReset$ | async;
@let loading = loading$ | async;
@let chartOptions = chartOptions$ | async;

<div class="flex flex-col gap-y-4 w-full h-full justify-between">
  <app-page-header class="text-xl bg-transparent" [title]="title | translate" [loading]="loading">
    <div class="flex items-center gap-x-2">
      <button-toggle [class.pointer-events-none]="loading">
        <app-button
          [activeColorScheme]="'charcoal'"
          [text]="'dashboard.categories.tabs.list' | translate"
          [buttonSizeX]="'auto'"
          [buttonSizeY]="'full'"
          [active]="currentTab === 'list'"
          [shouldDisplayMobileClickEffect]="false"
          [rounded]="false"
          (click)="setTab('list')"
        ></app-button>

        <app-button
          [activeColorScheme]="'charcoal'"
          [text]="'dashboard.categories.tabs.chart' | translate"
          [buttonSizeX]="'auto'"
          [buttonSizeY]="'full'"
          [disabled]="areAllCategoriesReset"
          [active]="currentTab === 'chart'"
          [shouldDisplayMobileClickEffect]="false"
          [rounded]="false"
          (click)="setTab('chart')"
        ></app-button>
      </button-toggle>

      <app-menu
        [colorScheme]="'transparent-dark'"
        [menuActions]="menuActions"
        [menuDisabled]="loading"
      ></app-menu>
    </div>
  </app-page-header>

  @if (isEmpty) {
    <span
      class="font-main font-bold text-charcoal text-lg text-center flex flex-1 flex-col justify-center items-center"
    >
      {{ 'dashboard.categories.emptyStateText' | translate }}
    </span>
  }

  @if (!isEmpty) {
    @switch (currentTab) {
      @case ('list') {
        <cdk-virtual-scroll-viewport
          [class.pointer-events-none]="loading"
          itemSize="76"
          class="h-full"
        >
          <div
            *cdkVirtualFor="
              let category of categories$ | async;
              trackBy: trackBy.bind(this);
              templateCacheSize: 0
            "
            class="h-19 flex items-center"
          >
            <app-category-item class="w-full" [category]="category"></app-category-item>
          </div>
        </cdk-virtual-scroll-viewport>
      }
      @case ('chart') {
        <div
          class="w-full h-full flex flex-1 items-center justify-center overflow-hidden"
          [class.pointer-events-none]="loading"
        >
          <apx-chart
            class="w-full"
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [labels]="chartOptions.labels"
            [colors]="chartOptions.colors"
            [dataLabels]="chartOptions.dataLabels"
            [legend]="chartOptions.legend"
            [plotOptions]="chartOptions.plotOptions"
            [stroke]="chartOptions.stroke"
            [states]="chartOptions.states"
            [tooltip]="chartOptions.tooltip"
          ></apx-chart>
        </div>
      }
    }
  }
</div>
