<app-page-header [title]="buildTranslationKey('pageTitle') | translate"></app-page-header>

<div class="info-cards mb-6">
  <app-income-info-card class="card"></app-income-info-card>
  <app-expense-info-card class="card"></app-expense-info-card>
  <app-balance-info-card class="card"></app-balance-info-card>
  <app-savings-info-card class="card"></app-savings-info-card>
  <app-free-money-info-card class="card"></app-free-money-info-card>
</div>

<div class="main-cards">
  <app-categories class="card" [budgetType]="budgetType.Income"></app-categories>
  <app-categories class="card" [budgetType]="budgetType.Expense"></app-categories>
  <app-activity-log class="card"></app-activity-log>
</div>
