:host {
  @apply grid h-full flex-1 relative gap-y-6 p-6;

  grid-template-rows: auto auto 1fr;

  .info-cards,
  .main-cards {
    @apply flex overflow-x-scroll scroll-smooth -mx-6 px-6;

    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      @apply hidden;
    }

    .card:not(:last-child) {
      @apply mr-6;
    }

    .card {
      scroll-snap-align: center;
    }
  }

  .info-cards {
    min-height: 112px;

    .card {
      flex: 0 0 calc(20% - calc(4 * 24px / 5));
    }
  }

  .main-cards {
    .card {
      flex: 0 0 calc(calc(100% / 3) - calc(2 * 24px / 3));
    }
  }

  @media (width <= 480px) {
    @apply p-4 gap-y-4;

    .info-cards,
    .main-cards {
      @apply -mx-4 px-4;

      .card {
        flex: 0 0 100%;
      }

      .card:not(:last-child) {
        @apply mr-2;
      }
    }
  }
}
