<app-info-card
  *ngVar="currentMonthBalance$ | async as currentMonthBalance"
  [iconName]="'equal-sign'"
  [iconBgClass]="currentMonthBalance === 0 ? 'bg-light-blue' : 'bg-white'"
  [iconColorClass]="currentMonthBalance === 0 ? 'text-charcoal' : currentMonthBalance > 0 ? 'text-green' : 'text-red'"
  [colorScheme]="currentMonthBalance === 0 ? 'white' : currentMonthBalance > 0 ? 'green' : 'red'"
  [primaryText]="currentMonthBalance | currencySymbol"
  [secondaryText]="buildTranslationKey('title') | translate"
></app-info-card>
