<h1 mat-dialog-title class="font-main text-charcoal text-base">{{ title | translate }}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      [formControl]="input"
      [type]="'number'"
      [placeholder]=""
      [min]="1"
      [required]="true"
      [defaultValue]="initialValue"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions class="flex items-center justify-end">
  <app-button
    class="text-charcoal hover:bg-hover-black"
    [buttonSize]="'auto'"
    [text]="buildTranslationKey('cancel') | translate"
    (click)="cancelClick()"
  ></app-button>

  <app-button
    class="text-white hover:bg-hover-green bg-dark-green"
    [buttonSize]="'big'"
    [text]="mainButtonText | translate"
    [disabled]="shouldDisableButton"
    [loading]="(loading$ | async) || (success$ | async)"
    (click)="resolveSubmitAction()"
  ></app-button>
</div>
