<h1 mat-dialog-title class="font-main text-charcoal text-base">{{ title | translate }}</h1>
<div mat-dialog-content class="flex flex-col">
  <mat-form-field>
    <mat-label>{{ title | translate }}</mat-label>
    <input matInput [formControl]="valueInput" [type]="'number'" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ buildTranslationKey('noteInputTitle') | translate }}</mat-label>
    <textarea matInput rows="3" class="scrollable" [formControl]="noteInput"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions class="flex items-center justify-end gap-x-4">
  <app-button
    [buttonSize]="'auto'"
    [colorScheme]="colorScheme.TransparentDark"
    [text]="buildTranslationKey('cancel') | translate"
    (click)="cancelClick()"
  ></app-button>

  <app-button
    [buttonSize]="'big'"
    [colorScheme]="colorScheme.Charcoal"
    [text]="mainButtonText | translate"
    [disabled]="shouldDisableButton"
    [loading]="(loading$ | async) || (success$ | async)"
    (click)="resolveSubmitAction()"
  ></app-button>
</div>
