<app-generic-activity-log-record
  [icon]="record.icon"
  [date]="record.date"
  [note]="record?.note"
  [removeEnabled]="(doesCategoryExist$ | async) && isToday"
  [loading]="isRecordRemoving$ | async"
  (remove)="removeHandler()"
>
  <span class="flex justify-between items-center gap-x-2">
    <div class="flex flex-col overflow-hidden">
      <span class="font-main text-charcoal text-base">
        {{ record.category.name | translate }}
      </span>

      <span class="block truncate flex-1 font-main font-bold text-blue text-xs">
        ({{ record.account.currency.symbol }}) {{ record.account.name }}
      </span>
    </div>

    <span class="flex flex-col items-end font-main font-bold w-auto min-w-fit {{ colorClass }}">
      @if (isSingleValue) {
        <span>
          {{ symbol }}{{ record.value | numberSpace }}
          {{ record.account.currency.symbol }}
        </span>
      } @else {
        <span class="text-base font-normal">
          {{ symbol }}{{ record.convertedValue | numberSpace | currencySymbol }}
        </span>

        <span class="text-xs font-bold">
          {{ symbol }}{{ record.value | numberSpace }}
          {{ record.account.currency.symbol }}
        </span>
      }
    </span>
  </span>
</app-generic-activity-log-record>
