<app-generic-activity-log-record
  [icon]="record.icon"
  [date]="record.date"
  [note]="record?.note"
  [loading]="isRecordRemoving$ | async"
  (remove)="removeHandler()"
>
  <span class="flex justify-between">
    <div class="flex flex-col">
      <span class="font-main text-charcoal text-base">
        {{ record.categoryName }}
      </span>

      <span class="font-main font-bold text-blue text-xs">
        {{ record.accountName }}
      </span>
    </div>

    @switch (record.budgetType) {
      @case (budgetType.Income) {
        <span class="font-main font-bold text-dark-green">&plus;&nbsp;{{ record.value | currencySymbol }}</span>
      }
      @case (budgetType.Expense) {
        <span class="font-main font-bold text-red">&minus;&nbsp;{{ record.value | currencySymbol }}</span>
      }
    }
  </span>
</app-generic-activity-log-record>
