<app-base-modal
  class="confirmation-modal"
  [titleTranslationKey]="buildTranslationKey('title')"
  [shouldDisplayCloseButton]="false"
  [footerTemplate]="footer"
>
  <div class="flex flex-col gap-y-4">
    <span
      class="font-main text-charcoal text-base"
      [innerHTML]="
        translation.questionTranslationKey | translate: translation?.questionTranslationParams
      "
    ></span>

    @if (shouldDisplayCheckbox) {
      <checkbox [id]="'confirmation-checkbox'" [(ngModel)]="checkmarkChecked">
        <span
          class="text-charcoal"
          [innerHTML]="
            translation.checkboxTranslationKey | translate: translation?.questionTranslationParams
          "
        ></span>

        @if (shouldDisplayRemark) {
          <span class="text-red">&#xFE61;</span>
        }
      </checkbox>
    }

    @if (shouldDisplayRemark) {
      <div>
        <span class="text-red">&#xFE61;</span>
        <span
          class="font-main text-sm text-charcoal"
          [innerHTML]="
            translation.remarkTranslationKey | translate: translation?.remarkTranslationParams
          "
        ></span>
      </div>
    }
  </div>
</app-base-modal>

<ng-template #footer>
  <app-button
    [colorScheme]="'transparent-dark'"
    [text]="buildTranslationKey('noButton') | translate"
    [buttonSizeX]="'px100'"
    (click)="closeClick()"
  >
  </app-button>
  <app-button
    [colorScheme]="'charcoal'"
    [text]="buildTranslationKey('yesButton') | translate"
    [buttonSizeX]="'px100'"
    (click)="resolveAction()"
  >
  </app-button>
</ng-template>
