<h1 mat-dialog-title>{{ buildTranslationKey('title') | translate }}</h1>

<div mat-dialog-content>
  <div class="flex flex-col gap-y-4">
    <span
      class="font-main text-charcoal text-base"
      [innerHTML]="translation.questionTranslationKey | translate: translation?.questionTranslationParams"
    ></span>

    @if (shouldDisplayCheckbox) {
      <mat-checkbox [disableRipple]="true" [(ngModel)]="checkmarkChecked">
        <span
          class="text-charcoal"
          [innerHTML]="translation.checkboxTranslationKey | translate: translation?.questionTranslationParams"
        ></span>

        @if (shouldDisplayRemark) {
          <span class="text-red">&#xFE61;</span>
        }
      </mat-checkbox>
    }

    @if (shouldDisplayRemark) {
      <div>
        <span class="text-red">&#xFE61;</span>
        <span
          class="font-main text-sm text-charcoal"
          [innerHTML]="translation.remarkTranslationKey | translate: translation?.remarkTranslationParams"
        ></span>
      </div>
    }
  </div>
</div>

<div mat-dialog-actions>
  <app-button
    [colorScheme]="'transparent-dark'"
    [text]="buildTranslationKey('noButton') | translate"
    [buttonSizeX]="'px100'"
    (click)="closeClick()"
  >
  </app-button>
  <app-button
    [colorScheme]="'charcoal'"
    [text]="buildTranslationKey('yesButton') | translate"
    [buttonSizeX]="'px100'"
    (click)="data.shouldConsiderCheckbox ? data.action(checkmarkChecked()) : data.action(); closeClick()"
  >
  </app-button>
</div>
