<app-navigation-bar></app-navigation-bar>

<ng-container *ngVar="isLoading$ | async as isLoading">
  <div class="animated-route main p-6 w-full bg-dirty-white relative">
    @if (isLoading) {
      <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center bg-dirty-white z-50">
        <app-loader [colorMode]="'dark'" [size]="'main-loader'"></app-loader>
      </div>
    } @else {
      <router-outlet></router-outlet>
    }
  </div>
</ng-container>

@if ((isOnline$ | async) === false) {
  <app-lost-connection-message></app-lost-connection-message>
}
