<app-base-modal [titleTranslationKey]="'account.addAccountModal.title'">
  <ng-template #contentTemplate>
    <form class="flex flex-col gap-y-2 h-full" [formGroup]="form">
      <app-info-card
        [primaryText]="
          (form.controls[formFields.ACCOUNT_VALUE].value || 0) + ' ' + selectedCurrencySymbol
        "
        [secondaryText]="form.controls[formFields.ACCOUNT_NAME].value"
        [iconName]="form.controls[formFields.ACCOUNT_ICON].value"
        [bgColor]="form.controls[formFields.ACCOUNT_BG_COLOR].value || '#F0F2F2'"
        [textColor]="form.controls[formFields.ACCOUNT_TEXT_COLOR].value || '#2C4251'"
      ></app-info-card>

      <custom-input
        [label]="'account.addAccountModal.accountNameTitle' | translate"
        [id]="formFields.ACCOUNT_NAME"
        [formControlName]="formFields.ACCOUNT_NAME"
        [isRequired]="true"
        [maxLength]="20"
        [displayCharCounter]="true"
        [entityExistsValidator]="accountExistsValidator"
      ></custom-input>

      <custom-input
        [id]="formFields.ACCOUNT_VALUE"
        [formControlName]="formFields.ACCOUNT_VALUE"
        [label]="'account.addAccountModal.accountValueTitle' | translate"
        [isRequired]="true"
        [minValue]="0"
        [type]="'number'"
      ></custom-input>

      <custom-select
        [id]="formFields.ACCOUNT_CURRENCY"
        [label]="'account.addAccountModal.accountCurrencyTitle' | translate"
        [formControlName]="formFields.ACCOUNT_CURRENCY"
        [options]="options"
        [idSelector]="currencyIdSelector"
        [displayValueSelector]="currencyDisplayValueSelector"
        [iconSelector]="currencyIconSelector"
        [isRequired]="true"
      ></custom-select>

      <custom-select
        [id]="formFields.ACCOUNT_ICON"
        [label]="'account.addAccountModal.accountIconTitle' | translate"
        [formControlName]="formFields.ACCOUNT_ICON"
        [isRequired]="true"
        [iconPickerMode]="true"
      ></custom-select>

      <color-picker
        [id]="formFields.ACCOUNT_BG_COLOR"
        [label]="'account.addAccountModal.accountBgColorTitle' | translate"
        [formControlName]="formFields.ACCOUNT_BG_COLOR"
        [isRequired]="true"
      ></color-picker>

      <color-picker
        [id]="formFields.ACCOUNT_TEXT_COLOR"
        [label]="'account.addAccountModal.accountTextColorTitle' | translate"
        [formControlName]="formFields.ACCOUNT_TEXT_COLOR"
        [isRequired]="true"
      ></color-picker>
    </form>
  </ng-template>

  <ng-template #footerTemplate>
    <app-button
      [type]="'primary'"
      [text]="'account.addAccountModal.addAccount' | translate"
      [buttonSizeX]="'px160'"
      [disabled]="!isFormValid"
      [loading]="loading$ | async"
      (click)="submitClick()"
    ></app-button>
  </ng-template>
</app-base-modal>
