<h1 mat-dialog-title>{{ buildTranslationKey('title') | translate }}</h1>

<div mat-dialog-content class="flex flex-col">
  <form class="flex flex-col" [formGroup]="form">
    <mat-form-field>
      <mat-label>{{ buildTranslationKey('valueToAddTitle') | translate }}</mat-label>
      <input matInput [type]="'number'" [formControlName]="formFieldsEnum.ValueToAdd" />

      <mat-error *ngIf="hasRequiredError">{{ 'formErrors.required' | translate }}</mat-error>

      <mat-error *ngIf="hasMinValueError">{{ 'formErrors.minValue' | translate : { minValue: 1 } }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ buildTranslationKey('noteTitle') | translate }}</mat-label>
      <textarea matInput rows="3" [formControlName]="formFieldsEnum.Note"></textarea>

      <mat-error *ngIf="hasMaxLengthError">{{ 'formErrors.noteTooLong' | translate }}</mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <app-button
    [buttonSizeX]="'auto'"
    [colorScheme]="'transparent-dark'"
    [text]="buildTranslationKey('cancel') | translate"
    (click)="cancelClick()"
  ></app-button>

  <app-button
    [buttonSizeX]="'medium'"
    [colorScheme]="'charcoal'"
    [text]="buildTranslationKey('add') | translate"
    [loading]="loading$ | async"
    [disabled]="!isFormValid"
    (click)="submitClick()"
  ></app-button>
</div>
