<app-base-modal
  [titleTranslationKey]="(category$ | async)?.name"
  [subtitleTranslationKey]="buildTranslationKey('subtitle')"
  [footerTemplate]="footer"
>
  <form class="flex flex-col" [formGroup]="form">
    <mat-form-field>
      <mat-label>{{ buildTranslationKey('valueToAddTitle') | translate }}</mat-label>
      <input #valueInput matInput [formControlName]="formFieldsEnum.ValueToAdd" />

      @if (hasRequiredError) {
        <mat-error>{{ 'formErrors.required' | translate }}</mat-error>
      }

      @if (hasMinValueError) {
        <mat-error>{{ 'formErrors.minValue' | translate: { minValue: 1 } }}</mat-error>
      }

      @if (hasNumberPatternError) {
        <mat-error>{{ 'formErrors.numberPattern' | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ buildTranslationKey('noteTitle') | translate }}</mat-label>
      <textarea matInput rows="3" [formControlName]="formFieldsEnum.Note"></textarea>

      @if (hasMaxLengthError) {
        <mat-error>{{ 'formErrors.noteTooLong' | translate }}</mat-error>
      }
    </mat-form-field>
  </form>
</app-base-modal>

<ng-template #footer>
  <app-button
    [buttonSizeX]="'px100'"
    [colorScheme]="'charcoal'"
    [text]="buildTranslationKey('add') | translate"
    [loading]="loading$ | async"
    [disabled]="!isFormValid"
    (click)="submitClick()"
  ></app-button>
</ng-template>
