<div mat-dialog-title>
  <h1>{{ (category$ | async)?.name }}</h1>
  <h2 class="text-sm">{{ buildTranslationKey('title') | translate }}</h2>
</div>

<div mat-dialog-content class="flex flex-col">
  <form class="flex flex-col" [formGroup]="form">
    <mat-form-field>
      <mat-label>{{ buildTranslationKey('valueToAddTitle') | translate }}</mat-label>
      <input #valueInput matInput [type]="'number'" [formControlName]="formFieldsEnum.ValueToAdd" />

      @if (hasRequiredError) {
        <mat-error>{{ 'formErrors.required' | translate }}</mat-error>
      }

      @if (hasMinValueError) {
        <mat-error>{{ 'formErrors.minValue' | translate : { minValue: 1 } }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ buildTranslationKey('noteTitle') | translate }}</mat-label>
      <textarea matInput rows="3" [formControlName]="formFieldsEnum.Note"></textarea>

      @if (hasMaxLengthError) {
        <mat-error>{{ 'formErrors.noteTooLong' | translate }}</mat-error>
      }
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <app-button
    [buttonSizeX]="'auto'"
    [colorScheme]="'transparent-dark'"
    [text]="buildTranslationKey('cancel') | translate"
    (click)="cancelClick()"
  ></app-button>

  <app-button
    [buttonSizeX]="'medium'"
    [colorScheme]="'charcoal'"
    [text]="buildTranslationKey('add') | translate"
    [loading]="loading$ | async"
    [disabled]="!isFormValid"
    (click)="submitClick()"
  ></app-button>
</div>
