<ng-container *ngVar="category$ | async as category">
  <div class="flex items-center gap-x-2 flex-1 overflow-hidden">
    <span
      class="w-5 h-5 border-2 border-solid border-charcoal rounded-full"
      [style.backgroundColor]="category.hexColor"
    ></span>
    <svg-icon class="text-charcoal" [iconName]="category?.icon"></svg-icon>
    <span
      customTooltip
      [tooltipText]="category?.name"
      [showTooltipOnlyOnOverflow]="true"
      class="font-main font-bold text-charcoal text-base truncate"
    >
      {{ category?.name }}
    </span>
  </div>

  <div class="flex items-center gap-x-2">
    <span class="font-main font-bold text-charcoal text-base"> {{ category?.value | currencySymbol }}</span>
    <app-menu [menuActions]="menuActions" (click)="$event.stopPropagation()"></app-menu>
  </div>
</ng-container>
