<app-base-modal [titleTranslationKey]="title" [footerTemplate]="footer">
  <form class="flex flex-col" [formGroup]="form">
    <icon-picker
      [label]="buildTranslationKey('categoryIconTitle') | translate"
      [formControlName]="formFields.CategoryIcon"
    ></icon-picker>

    <mat-form-field>
      <mat-label>{{ buildTranslationKey('categoryNameTitle') | translate }}</mat-label>
      <input matInput [formControlName]="formFields.CategoryName" />

      @if (hasCategoryNameRequiredError) {
        <mat-error>{{ 'formErrors.required' | translate }}</mat-error>
      }

      @if (hasMaxLengthError) {
        <mat-error>{{ buildTranslationKey('categoryNameLengthError') | translate }}</mat-error>
      }

      @if (hasCategoryExistsError) {
        <mat-error>{{ buildTranslationKey('categoryExistsError') | translate }}</mat-error>
      }
    </mat-form-field>

    <color-picker
      [label]="buildTranslationKey('categoryColorTitle') | translate"
      [formControlName]="formFields.CategoryColorPicker"
    ></color-picker>
  </form>
</app-base-modal>

<ng-template #footer>
  <app-button
    [colorScheme]="'charcoal'"
    [text]="buildTranslationKey('addCategory') | translate"
    [buttonSizeX]="'big'"
    [disabled]="!isFormValid"
    [loading]="loading$ | async"
    (click)="submitClick()"
  ></app-button>
</ng-template>
