<app-base-modal [titleTranslationKey]="title" [footerTemplate]="footer">
  <form class="flex flex-col" [formGroup]="form">
    <mat-form-field>
      <mat-label>{{ buildTranslationKey('categoryIconTitle') | translate }}</mat-label>
      <mat-select [formControlName]="formFields.CategoryIcon" (selectionChange)="setCategoryNameToInput($event.value)">
        <mat-select-trigger>
          <span class="flex justify-start items-center text-charcoal gap-x-1.5 font-main">
            <svg-icon [iconName]="selectedIcon"></svg-icon>
            <span>{{ selectedIconTitle | translate }}</span>
          </span>
        </mat-select-trigger>

        @for (option of options; track option) {
          <mat-option [value]="option">
            <app-button
              class="overflow-hidden"
              [iconName]="option.icon"
              [text]="option.textTranslationKey | translate"
              [buttonSizeX]="'full'"
              [align]="'start'"
            ></app-button>
          </mat-option>
        }
      </mat-select>

      @if (hasCategoryIconRequiredError) {
        <mat-error>{{ 'formErrors.required' | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ buildTranslationKey('categoryNameTitle') | translate }}</mat-label>
      <input matInput [formControlName]="formFields.CategoryName" />

      @if (hasCategoryNameRequiredError) {
        <mat-error>{{ 'formErrors.required' | translate }}</mat-error>
      }

      @if (hasMaxLengthError) {
        <mat-error>{{ buildTranslationKey('categoryNameLengthError') | translate }}</mat-error>
      }

      @if (hasCategoryExistsError) {
        <mat-error>{{ buildTranslationKey('categoryExistsError') | translate }}</mat-error>
      }
    </mat-form-field>

    <div class="flex items-center gap-x-4 mt-4">
      <span class="font-main text-base text-charcoal">{{ buildTranslationKey('categoryColorTitle') | translate }}</span>
      <ngx-colors ngx-colors-trigger [formControlName]="formFields.CategoryColor" [hideTextInput]="true"></ngx-colors>
    </div>
  </form>
</app-base-modal>

<ng-template #footer>
  <app-button
    [colorScheme]="'charcoal'"
    [text]="buildTranslationKey('addCategory') | translate"
    [buttonSizeX]="'big'"
    [disabled]="!isFormValid"
    [loading]="loading$ | async"
    (click)="submitClick()"
  ></app-button>
</ng-template>
