<app-button
  mat-button
  [matMenuTriggerFor]="menu"
  [iconName]="icon"
  [colorScheme]="colorScheme"
  [buttonSizeY]="buttonSizeY"
  [buttonSizeX]="buttonSizeX"
  [text]="text"
  [disabled]="menuDisabled"
></app-button>

<mat-menu #menu="matMenu">
  <app-button
    *ngFor="let action of menuActions"
    [text]="action.translationKey | translate"
    [iconName]="action.icon"
    [buttonSizeX]="'full'"
    [disabled]="action.disabled || (action.disabledObs | async)"
    [align]="'start'"
    (click)="action.action()"
  ></app-button>
</mat-menu>
