<div class="flex gap-x-2 items-start">
  <svg-icon-with-bg class="text-charcoal bg-light-blue" [iconName]="record.icon" [size]="'small'"></svg-icon-with-bg>

  <span class="flex flex-col">
    <span class="font-main text-charcoal text-base">
      {{ buildTranslationKey('title.' + record.valueType) | translate }}
    </span>

    <span class="font-main text-grey text-xs">{{ time }}</span>
  </span>

  <svg-icon
    *ngIf="record?.note as note"
    class="text-charcoal hover:text-blue cursor-pointer mt-0.5"
    [iconName]="'info'"
    [matTooltip]="note"
    [matTooltipPosition]="'above'"
    [size]="'small'"
  ></svg-icon>
</div>

<ng-container [ngSwitch]="record.actionType">
  <span *ngSwitchCase="actionType.Increase" class="font-main font-bold text-dark-green">+ {{ record.value }}</span>

  <span *ngSwitchCase="actionType.Decrease" class="font-main font-bold text-red">- {{ record.value }}</span>

  <span *ngSwitchCase="actionType.Edit" class="font-main font-bold text-blue">
    {{ record.oldValue }} → {{ record.newValue }}
  </span>
</ng-container>
