:host {
  @apply w-full h-full bg-transparent rounded-lg overflow-hidden;

  .flip-card-inner {
    @apply relative w-full h-full;

    transition: transform 0.2s;
    transform-style: preserve-3d;

    &.front {
      transform: rotateY(0deg);
    }

    &.back {
      transform: rotateY(180deg);
    }
  }

  .flip-card-front,
  .flip-card-back {
    @apply absolute w-full h-full bg-white p-7 gap-7;

    backface-visibility: hidden;
  }

  .flip-card-front {
    @apply flex flex-col gap-y-7;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }
}
