<h1 mat-dialog-title class="font-main text-charcoal text-base">{{ title | translate }}</h1>
<div mat-dialog-content class="flex flex-col">
  <form class="flex flex-col" [formGroup]="form">
    <mat-form-field>
      <mat-label>{{ title | translate }}</mat-label>
      <input #valueInput matInput [formControlName]="formFields.Value" [type]="'number'" />

      @if (hasRequiredError) {
        <mat-error>{{ 'formErrors.required' | translate }}</mat-error>
      }

      @if (hasMinValueError) {
        <mat-error>{{ 'formErrors.minValue' | translate: { minValue: 1 } }}</mat-error>
      }

      @if (hasMaxValueError) {
        <mat-error>
          {{ 'formErrors.maxValue' | translate: { maxValue: initialValue } }}
        </mat-error>
      }

      @if (hasEditError) {
        <mat-error>{{ 'formErrors.editError' | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ buildTranslationKey('noteInputTitle') | translate }}</mat-label>
      <textarea matInput rows="3" [formControlName]="formFields.Note"></textarea>

      @if (hasMaxLengthError) {
        <mat-error>{{ 'formErrors.noteTooLong' | translate }}</mat-error>
      }
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <app-button
    [buttonSizeX]="'auto'"
    [colorScheme]="'transparent-dark'"
    [text]="buildTranslationKey('cancel') | translate"
    (click)="cancelClick()"
  ></app-button>

  <app-button
    [buttonSizeX]="'big'"
    [colorScheme]="'charcoal'"
    [text]="mainButtonText | translate"
    [disabled]="!isFormValid"
    [loading]="(loading$ | async) || (success$ | async)"
    (click)="resolveSubmitAction()"
  ></app-button>
</div>
