<div class="absolute right-2 top-2 flex flex-col gap-1 items-center">
  @if (menuActions?.length) {
    <app-menu
      [style.color]="hexTextColor"
      [colorScheme]="menuColorScheme"
      [menuActions]="menuActions"
      [menuDisabled]="shouldDisableMenu"
      [loading]="menuLoading"
      [shouldUseCurrentColor]="shouldUseCustomColors"
    ></app-menu>
  }

  @if (tooltip) {
    <app-info-icon [size]="'medium'" [tooltipPosition]="isMobile ? 'left' : 'top'" [tooltip]="tooltip"></app-info-icon>
  }
</div>

<svg-icon-with-bg
  class="{{ iconClasses }}"
  [style.color]="hexBgColor"
  [style.background-color]="hexTextColor"
  [iconName]="iconName"
></svg-icon-with-bg>

<div class="flex flex-1 flex-col">
  @if (primaryText) {
    <span class="primary font-main font-bold text-xl"> {{ primaryText }}</span>
  }

  @if (secondaryText) {
    <span class="secondary font-main text-sm">{{ secondaryText }}</span>
  }

  @if (tertiaryText) {
    <span class="secondary font-main text-xs">{{ tertiaryText }}</span>
  }
</div>
