<div class="absolute right-2 top-2 flex flex-col gap-1 items-center">
  <app-menu
    [colorScheme]="menuColorScheme"
    [menuActions]="menuActions"
    [menuDisabled]="shouldDisableMenu || !menuActions?.length"
  ></app-menu>

  @if (tooltip) {
    <app-info-icon [size]="'medium'" [tooltipPosition]="isMobile ? 'left' : 'top'" [tooltip]="tooltip"></app-info-icon>
  }
</div>

<svg-icon-with-bg class="{{ iconBGClass }} {{ iconColorClass }}" [iconName]="iconName"></svg-icon-with-bg>

<div class="flex flex-1 flex-col">
  <span class="primary font-main font-bold {{ twoLine ? 'text-sm' : 'text-xl' }}"> {{ primaryText }}&nbsp; </span>
  <span class="secondary font-main {{ twoLine ? 'text-xs' : 'text-sm' }}">{{ secondaryText }}</span>

  @if (twoLine) {
    <div class="flex flex-1 flex-col mt-2">
      <span class="primary font-main font-bold text-sm">{{ additionalPrimaryText }}</span>
      <span class="secondary font-main text-xs">{{ additionalSecondaryText }}</span>
    </div>
  }
</div>
