<div class="absolute right-2 top-2 flex flex-col gap-1 items-center">
  @if (menuActions?.length) {
    <app-menu
      [menuActions]="menuActions"
      [menuDisabled]="shouldDisableMenu"
      [loading]="menuLoading"
      [shouldUseCurrentColor]="true"
    ></app-menu>
  }

  @if (tooltip) {
    <app-info-icon
      [size]="'medium'"
      [tooltipPosition]="isMobile ? 'left' : 'top'"
      [tooltip]="tooltip"
    ></app-info-icon>
  }
</div>

<svg-icon
  [style.color]="bgColor"
  [style.background-color]="textColor"
  [iconName]="iconName"
  [bgSize]="'big'"
></svg-icon>

<div class="font-main flex flex-1 flex-col">
  @if (primaryText) {
    <span class="font-bold text-xl"> {{ primaryText }}</span>
  }

  @if (secondaryText) {
    <span class="text-sm">{{ secondaryText }}</span>
  }

  @if (tertiaryText) {
    <span class="text-xs">{{ tertiaryText }}</span>
  }
</div>
