/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full w-full overflow-hidden;
}

body {
  @apply m-0;
  font-family: 'Inter', sans-serif;
}

// SNACKBAR
.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    @apply bg-white #{!important};
  }

  .mdc-snackbar__label {
    @apply text-charcoal font-main text-base font-bold #{!important};
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    @apply text-dark-green hover:bg-dark-green hover:text-white font-bold font-main text-base #{!important};
  }
}

// TOOLTIP
.mat-mdc-tooltip {
  .mdc-tooltip__surface {
    @apply font-main text-sm bg-blue #{!important};
  }
}

// MENU
.mat-mdc-menu-item {
  &.mdc-list-item {
    @apply font-main text-base p-0 #{!important};
  }

  &:hover:not([disabled]) {
    @apply hover:bg-hover-black #{!important};
  }

  &[disabled] {
    @apply opacity-100 #{!important};
  }
}

.mat-mdc-menu-content {
  @apply px-1 #{!important};
}

// DIALOG
.mat-mdc-dialog-container {
  .mdc-dialog__title {
    @apply font-main text-base font-bold text-charcoal #{!important};
  }
}

.mat-mdc-dialog-actions {
  @apply justify-end #{!important};
}

// INPUT
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mdc-text-field--filled {
  .mdc-line-ripple::after {
    @apply border-b-charcoal #{!important};
  }

  &:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    @apply border-b-blue #{!important};
  }

  &:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before {
    @apply border-b-charcoal #{!important};
  }
}

.mdc-text-field .mdc-text-field__input {
  @apply caret-charcoal;
}
