/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind utilities;

/* inter-regular - cyrillic-ext_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-v13-cyrillic-ext_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - cyrillic-ext_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/inter-v13-cyrillic-ext_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  @apply h-full w-full min-h-full;
}

body {
  @apply m-0 bg-dirty-white;
  font-family: 'Inter', sans-serif;
}

// SCROLLBAR
::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-thumb {
  @apply bg-hover-black border border-solid border-transparent rounded-full bg-clip-padding;
}

// FORM CONTROL
.form-control {
  @apply font-main text-base text-charcoal;
  @apply border-2 border-solid border-grey rounded-md group-hover:border-charcoal;
}

.form-control-error {
  @apply border-red group-hover:border-red rounded-b-none;
}

input,
.custom-select,
.color-picker {
  @apply h-12;
}

input,
textarea,
.custom-select {
  @apply px-3;
}

input,
textarea {
  @apply focus:border-charcoal outline-none;

  &.form-control-error {
    @apply focus:border-red;
  }
}

textarea {
  @apply py-2 resize-none;
}

// SNACKBAR
.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    @apply bg-white #{!important};
  }

  .mdc-snackbar__label {
    @apply text-charcoal font-main text-base font-bold #{!important};
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    @apply text-dark-green hover:bg-dark-green hover:text-white font-bold font-main text-base #{!important};
  }
}

// MENU
.mat-mdc-menu-item {
  &.mdc-list-item {
    @apply font-main text-base p-0 #{!important};
  }

  &:hover:not([disabled]) {
    @apply hover:bg-hover-black #{!important};
  }

  &[disabled] {
    @apply opacity-100 #{!important};
  }
}

.mat-mdc-menu-content {
  @apply flex flex-col gap-y-2 p-1 #{!important};
}

// DIALOG
.mat-mdc-dialog-container {
  .mdc-dialog__title {
    @apply font-main text-lg font-bold text-charcoal px-6 py-3 #{!important};

    &::before {
      @apply hidden;
    }
  }

  .mdc-dialog__surface {
    @apply rounded-md shadow-none #{!important};
  }
}

.mat-mdc-dialog-actions {
  @apply flex items-center justify-end gap-x-4 #{!important};
}

.mat-mdc-dialog-content {
  @apply flex flex-col #{!important};
}

// MAT CHECKBOX
.mat-mdc-checkbox {
  .mdc-checkbox {
    .mdc-checkbox__background {
      @apply border-grey #{!important};
    }

    .mdc-checkbox__ripple {
      @apply hidden #{!important};
    }

    .mdc-checkbox__native-control:enabled {
      &:checked ~ .mdc-checkbox__background {
        @apply border-dark-green bg-dark-green #{!important};
      }

      &:indeterminate ~ .mdc-checkbox__background {
        @apply border-dark-green bg-dark-green #{!important};
      }

      &:hover {
        @media (hover: hover) {
          .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
              [data-indeterminate='true']
            )
            ~ .mdc-checkbox__background {
            @apply border-charcoal #{!important};
          }
        }
      }
    }
  }

  .mdc-label {
    @apply font-main #{!important};
  }
}

// SCROLLER
.cdk-virtual-scroll-content-wrapper {
  @apply w-full #{!important};
}

// BUTTON TOGGLE
.mat-button-toggle-group {
  @apply flex h-7 border-2 border-solid border-charcoal rounded #{!important};

  app-button {
    @apply rounded-none #{!important};
  }
}

// VIEW TRANSITIONS
:root {
  view-transition-name: none;
}

.animated-route {
  view-transition-name: animated-route;
}

::view-transition-new(animated-route),
::view-transition-old(animated-route) {
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  animation-direction: normal;
}

::view-transition-old(animated-route) {
  animation-name: scale-out;
}

::view-transition-new(animated-route) {
  animation-name: slide-in;
  mix-blend-mode: normal;
}

@keyframes scale-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
