/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  @apply h-full w-full min-h-full;
}

body {
  @apply m-0 bg-dirty-white;
  font-family: 'Inter', sans-serif;
}

// SNACKBAR
.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    @apply bg-white #{!important};
  }

  .mdc-snackbar__label {
    @apply text-charcoal font-main text-base font-bold #{!important};
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    @apply text-dark-green hover:bg-dark-green hover:text-white font-bold font-main text-base #{!important};
  }
}

// TOOLTIP
.mat-mdc-tooltip {
  .mdc-tooltip__surface {
    @apply font-main text-sm bg-dark-green #{!important};
  }
}

// MENU
.mat-mdc-menu-item {
  &.mdc-list-item {
    @apply font-main text-base p-0 #{!important};
  }

  &:hover:not([disabled]) {
    @apply hover:bg-hover-black #{!important};
  }

  &[disabled] {
    @apply opacity-100 #{!important};
  }
}

.mat-mdc-menu-content {
  @apply flex flex-col gap-y-2 p-1 #{!important};
}

// DIALOG
.mat-mdc-dialog-container {
  .mdc-dialog__title {
    @apply font-main text-lg font-bold text-charcoal px-6 py-3 #{!important};

    &::before {
      @apply hidden;
    }
  }
}

.mat-mdc-dialog-actions {
  @apply flex items-center justify-end gap-x-4 #{!important};
}

.mat-mdc-dialog-content {
  @apply flex flex-col #{!important};
}

// INPUT
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

mat-form-field {
  &.no-click:hover {
    .mat-mdc-text-field-wrapper .mat-mdc-form-field-focus-overlay {
      opacity: 0.04 !important;
    }

    * {
      @apply pointer-events-none #{!important};
    }
  }
}

.mdc-text-field--filled {
  .mdc-line-ripple::after {
    @apply border-b-charcoal #{!important};
  }

  &:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    @apply border-b-blue #{!important};
  }

  &:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before {
    @apply border-b-charcoal #{!important};
  }
}

.mdc-text-field .mdc-text-field__input {
  @apply caret-charcoal font-main #{!important};
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  @apply text-charcoal #{!important};
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  @apply text-grey #{!important};
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
  @apply text-red #{!important};
}

textarea {
  resize: none !important;
}

// SCROLLBAR

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-thumb {
  @apply bg-hover-black border border-solid border-transparent rounded-full bg-clip-padding;
}

// SELECT
.mat-mdc-select-panel {
  @apply p-1 flex flex-col gap-y-1 box-content #{!important};
}

.mat-mdc-option {
  @apply p-0 min-h-9 #{!important};
}

.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  @apply hover:bg-transparent #{!important};
}

.mdc-list-item__primary-text {
  @apply w-full #{!important};
}

.mat-mdc-option.mdc-list-item {
  @apply mb-0;
}

.mat-mdc-option.mat-mdc-option-active {
  @apply bg-transparent #{!important};
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  @apply text-charcoal #{!important};
}

.mat-mdc-select-arrow {
  @apply text-charcoal #{!important};
}

.mat-mdc-form-field {
  .mat-mdc-select.mat-mdc-select-invalid .mat-mdc-select-arrow {
    @apply text-red #{!important};
  }
}

.mdc-floating-label {
  @apply font-main #{!important};
}

// MAT ERRORS
.mat-mdc-form-field-error {
  @apply font-main #{!important};
}

.mat-mdc-form-field-error-wrapper {
  @apply p-0 #{!important};
}

// MAT CHECKBOX
.mat-mdc-checkbox {
  .mdc-checkbox {
    .mdc-checkbox__background {
      @apply border-grey #{!important};
    }

    .mdc-checkbox__ripple {
      @apply hidden #{!important};
    }

    .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
      @apply border-dark-green bg-dark-green #{!important};
    }

    .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background {
      @apply border-dark-green bg-dark-green #{!important};
    }

    &:hover {
      @media (hover: hover) {
        .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate='true'])
          ~ .mdc-checkbox__background {
          @apply border-charcoal #{!important};
        }
      }
    }
  }

  .mdc-label {
    @apply font-main #{!important};
  }
}

// SCROLLER
.cdk-virtual-scroll-content-wrapper {
  @apply w-full #{!important};
}

// BUTTON TOGGLE
.mat-button-toggle-group {
  @apply flex h-7 border-2 border-solid border-charcoal rounded #{!important};

  app-button {
    @apply rounded-none #{!important};
  }
}

// RADIO BUTTON
.mat-mdc-radio-button {
  .mdc-radio__background {
    &::before {
      @apply bg-transparent #{!important};
    }
  }

  .mdc-radio .mdc-radio__native-control:enabled:not(:checked) + .mdc-radio__background .mdc-radio__outer-circle {
    @apply border-grey #{!important};
  }

  .mdc-radio:hover .mdc-radio__native-control:enabled:not(:checked) + .mdc-radio__background .mdc-radio__outer-circle {
    @apply border-charcoal #{!important};
  }

  .mdc-radio .mdc-radio__native-control:enabled:checked + .mdc-radio__background .mdc-radio__outer-circle {
    @apply border-dark-green #{!important};
  }

  .mdc-radio .mdc-radio__native-control:enabled + .mdc-radio__background .mdc-radio__inner-circle {
    @apply border-dark-green bg-dark-green #{!important};
  }

  .mdc-label {
    @apply font-main text-base text-charcoal #{!important};
  }
}

// COLOR PICKER
ngx-colors {
  @apply cursor-pointer;

  .preview {
    @apply w-10 h-10;

    .preview-background {
      @apply w-full h-full;

      .circle {
        @apply w-full h-full #{!important};
      }
    }
  }
}

// VIEW TRANSITIONS
:root {
  view-transition-name: none;
}

.animated-route {
  view-transition-name: animated-route;
}

::view-transition-new(animated-route),
::view-transition-old(animated-route) {
  animation-duration: 250ms;
  animation-timing-function: ease-out;
  animation-direction: normal;
}

::view-transition-old(animated-route) {
  animation-name: scale-out;
}

::view-transition-new(animated-route) {
  animation-name: slide-in;
  mix-blend-mode: normal;
}

@keyframes scale-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
