<app-info-card
  *ngVar="currentMonthBalance$ | async as currentMonthBalance"
  [iconName]="'calendar-dot-grid'"
  [iconBgClass]="currentMonthBalance === 0 ? 'bg-light-blue' : 'bg-white'"
  [iconColorClass]="currentMonthBalance === 0 ? 'text-charcoal' : currentMonthBalance > 0 ? 'text-green' : 'text-red'"
  [colorScheme]="currentMonthBalance === 0 ? 'white' : currentMonthBalance > 0 ? 'green' : 'red'"
  [primaryText]="currentMonthBalance | currencySymbol"
  [secondaryText]="'dashboard.infoCards.currentMonthBalance' | translate"
></app-info-card>
