<app-generic-activity-log-record [icon]="record.icon" [date]="record.date" [note]="record?.note">
  <span class="flex justify-between flex-wrap">
    <span class="font-main text-charcoal text-base">
      {{ buildTranslationKey('title.' + record.valueType) | translate }}
    </span>

    @switch (record.actionType) {
      @case (actionType.Increase) {
        <span class="font-main font-bold text-dark-green">
          &plus;&nbsp;{{ record.value | currencySymbol }}
        </span>
      }
      @case (actionType.Decrease) {
        <span class="font-main font-bold text-red">
          &minus;&nbsp;{{ record.value | currencySymbol }}
        </span>
      }
      @case (actionType.Edit) {
        <span class="font-main font-bold text-blue">
          {{ record.oldValue | currencySymbol }}&nbsp;&rarr;&nbsp;{{ record.newValue | currencySymbol }}
        </span>
      }
    }
  </span>
</app-generic-activity-log-record>
